@using GUDC.Models
@model IEnumerable<TeamMemberEntry>


@{bool lineflag = true;
      }  
@foreach (TeamMemberEntry p in Model)
{
    if (lineflag)
        {   
            <tr class ="odd"  >
                <td>
                    @p.TEAMCODE
                </td>
                <td>
                    @p.id
                </td>
                <td>
                    @p.TEAMMEMBERNAME
                </td>
                <td>
                    @p.TEAMMEMBERNO
                </td>
                 <td>
                    @p.DESCRIPTION
                </td>
                <td>
                    @p.TEAMMEMBERROLE
                </td>

                <td>
                    <div>
                        <div class="button">@Html.ActionLink("Edit", "TeamMemberEdit", new { id=@p.id})</div>

                        <div class="redbutton">@Html.ActionLink("Delete", "TeamMemberDelete", new { id=@p.id})</div>
                    </div>
                </td>
            </tr>
        }
        else
        {
            <tr class ="even">
                <td>
                    @p.TEAMCODE
                </td>
                <td>
                    @p.id
                </td>
                <td>
                    @p.TEAMMEMBERNAME
                </td>
                <td>
                    @p.TEAMMEMBERNO
                </td>
                 <td>
                    @p.DESCRIPTION
                </td>
                <td>
                    @p.TEAMMEMBERROLE
                </td>

                <td>
                    <div>
                        <div class="button">@Html.ActionLink("Edit", "TeamMemberEdit", new { id=@p.id})</div>

                        <div class="redbutton">@Html.ActionLink("Delete", "TeamMemberDelete", new { id=@p.id})</div>
                    </div>
                </td>
            </tr>
        }

        lineflag = !lineflag;
}


